@model WeatherModel

<h1>@Model.City</h1>
<p>Today @Model.Date.DayOfWeek, @Model.Date.ToShortDateString(), @Model.Date.ToShortTimeString()</p>

<div>
	<label>Temperature:</label>
	<span>@Model.Temperature</span>
</div>
<div>
	<label>Feels like:</label><span>@Model.FeelsLike</span>
</div>

@if(@Model.Icons != null && @Model.Icons!.Any()) 
{
	@foreach(string icon in Model.Icons!) {
	<img src="@icon"/>
	}
}

<form method="post" asp-controller="Home" asp-action="Save" >
	<input type="text" asp-for="@Model.City" hidden />
	<input type="text" asp-for="@Model.Country" hidden />
	<input type="number" asp-for="@Model.Temperature" hidden />
	<input type="number" asp-for="@Model.FeelsLike" hidden />
	<input type="datetime" asp-for="@Model.Date" hidden />
	<input class="btn btn-outline-success" type="submit" value="Save to database" />
</form>